name: Mirror SteamAutoCracks/ManifestHub -> this repo
on:
  workflow_dispatch:

jobs:
  mirror:
    runs-on: ubuntu-latest
    steps:
      - name: Install git
        run: sudo apt-get update && sudo apt-get install -y git

      - name: Clone source as mirror
        run: |
          SRC="https://github.com/SteamAutoCracks/ManifestHub.git"
          TMP="repo-mirror.git"
          git clone --mirror "$SRC" "$TMP"

      - name: Push mirror into this repository
        env:
          GHTOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          cd repo-mirror.git
          # set push url to this repository using the provided GITHUB_TOKEN
          git remote set-url --push origin "https://x-access-token:${GHTOKEN}@github.com/${{ github.repository }}.git"
          git push --mirror
